$h1size: 40;
$maxWidth: 1200px;
$orange: #f89325;
$mobile-max: 767.98px;
$lightBlue: #c2e5f6;
$lightGray: #eaeaea;
$gray: #d9d9d9;
$orangeBg: #f29100;
$red: #ff0000;
@font-face {
  font-family: "FSLola";
  src: url("../fonts/fslola.eot");
  src: url("../fonts/fslola.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fslola.woff2") format("woff2"),
    url("../fonts/fslola.woff") format("woff"),
    url("../fonts/fslola.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FSLola-Bold";
  src: url("../fonts/fslola-bold.eot");
  src: url("../fonts/fslola-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fslola-bold.woff2") format("woff2"),
    url("../fonts/fslola-bold.woff") format("woff"),
    url("../fonts/fslola-bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FSLola-Extra-Bold";
  src: url("../fonts/fslola-extrabold.eot");
  src: url("../fonts/fslola-extrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fslola-extrabold.woff2") format("woff2"),
    url("../fonts/fslola-extrabold.woff") format("woff"),
    url("../fonts/fslola-extrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FSLola-Medium";
  src: url("../fonts/fslola-medium.eot");
  src: url("../fonts/fslola-medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fslola-medium.woff2") format("woff2"),
    url("../fonts/fslola-medium.woff") format("woff"),
    url("../fonts/fslola-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

a {
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:visited,
  &:focus {
    text-decoration: inherit;
  }
}

img {
  width: 100%;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong {
  font-family: "FSLola-Bold", sans-serif;
  font-weight: 800;
}
html,
body {
  font-size: 13pt;
  overflow-x: hidden;
  font-family: "FSLola", sans-serif;
  color: #696d71;
  line-height: 1.1;
  &.noscroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
.bolder {
  color: #ffffff;
  font-family: "FSLola-Bold", sans-serif;
  line-height: 1;
}
h1 {
  font-size: 2.4rem;
  margin-top: 1rem;
  padding-left: 30px;
}
h2 {
  font-size: 1.1rem;
}
h3 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
h4 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.text-black {
  color: #000000;
}

.text-blue {
  color: #0000ff;
}

.text-red {
  color: $red;
}

.text-white {
  color: #ffffff;
}

header {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 30px;
}

#menu {
  pointer-events: all;
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: $lightBlue;
  width: 100%;
  height: 100%;
  &.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    // border:1px solid red;
    overflow-y: auto;
    width: 75%;
    flex: 0 0 75%;
    max-height: 75%;

    text-align: center;
    li {
      font-size: 1.5rem;
      margin-bottom: 0.5em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  a {
    &:hover,
    &:visited,
    &:focus {
      color: #0000ff;
    }
  }
}
#hamburger {
  pointer-events: all;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -42px;
  z-index: 13;

  .burger-line {
    width: 30px;
    height: 2px;
    background: #7bc2e8;
    position: absolute;
    left: 14px;
    top: 30px;
    transition: opacity 0.5s linear, transform 0.5s ease, top 0.5s ease;

    &.burger-line-1 {
      top: 20px;
    }
    &.burger-line-3 {
      top: 40px;
    }
  }

  &.open {
    .burger-line-1 {
      transform: rotateZ(45deg);
      top: 25px;
    }
    .burger-line-2 {
      transform: rotateZ(180deg);
      opacity: 0;
      top: 25px;
    }
    .burger-line-3 {
      transform: rotateZ(135deg);
      top: 25px;
    }
  }
}

.cta {
  background: $red;
  color: #ffffff;
  font-family: "FSLola-Medium", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 0.44em 1.55em;
  border-radius: 1em;
  &:hover,
  &:visited,
  &:active {
    color: #ffffff;
  }
}

main {
  // min-width: 320px;
  // max-width: 1200px;
  margin: 0 auto;
}

.max-width {
  max-width: $maxWidth;
  margin: 0 auto;
}
section,
footer {
  padding: 50px 30px 50px 30px;
}
section {
  &.kv {
    padding: 0;
    .claim-wrapper {
      position: absolute;
      top: 75%;
      left: 0%;
      transform: translate(0, -80%);
    }
    .kv-image {
      width: 100%;
      position: relative;
      background: url("../img/kv.jpg") no-repeat 35% bottom;
      background-size: cover;
      &:before {
        content: "";
        display: block;
        padding-bottom: 155%;
      }
    }
  }
  &.map {
    position: relative;

    padding: 100px 30px 0 30px;
    background: $lightBlue;

    .more-cities {
      font-size: 1.5rem;
    }
    .map-wrapper {
      position: relative;
      margin: 1rem auto 2rem auto;
      max-width: 500px;
    }
    .map-cities {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .map-city {
        font-size: 0.7rem;
        padding-left: 0.5rem;
        position: absolute;
        display: inline-block;
        white-space: nowrap;
        transition: all 0.3s ease;

        &:hover {
          color: #e32213;
          transition: all 0.3s ease;
          transform: scale(1.1);
          &:before {
            transition: all 0.3s ease;
            background: #e32213;
          }
        }
        &:before {
          transition: all 0.3s ease;
          position: absolute;
          content: "";
          left: -0.5em;
          top: 50%;
          transform: translate(0, -50%);
          width: 0.8em;
          height: 0.8em;
          border-radius: 50%;
          background: #000000;
        }
        &.active {
          font-size: 0.9rem;
          color: #e32213;
          &:before {
            background: #e32213;
          }
        }
        &[data-map-city="suwalki"] {
          top: 11%;
          left: 86%;
        }
        &[data-map-city="lomza"] {
          top: 28%;
          left: 79%;
        }
        &[data-map-city="wloclawek"] {
          top: 36%;
          left: 47%;
        }
        &[data-map-city="kalisz"] {
          top: 50%;
          left: 39%;
        }
        &[data-map-city="belchatow"] {
          top: 61%;
          left: 53%;
        }
        &[data-map-city="klodzko"] {
          top: 68%;
          left: 26%;
        }
        &[data-map-city="raciborz"] {
          top: 76%;
          left: 44%;
        }
        &[data-map-city="zywiec"] {
          top: 85%;
          left: 47%;
        }
        &[data-map-city="stalowawola"] {
          top: 74%;
          left: 77%;
        }
        &[data-map-city="przemysl"] {
          top: 86%;
          left: 83%;
        }
      }
    }
  }

  &.offer {
    position: relative;

    .single-offer {
      margin-bottom: 1rem;
    }
  }

  &.offer-more {
    overflow: hidden;
    position: relative;
    background: $lightGray;
    .cta-text {
      padding-top: 50px;
      font-size: 1.2rem;
    }
    .offer-icon {
      max-width: 90px;
    }
    .offer-more-bg {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  &.benefits {
    position: relative;
    background: $orangeBg;
    .single-benefit {
      position: relative;
      z-index: 2;
    }
  }
  &.address {
    position: relative;
    background: $gray;
    .additional-info{
      &:nth-of-type(2){
        margin-top: 0.2rem;
      }
    }
  }
  &.fnb,
  &.bonus {
    background: $lightGray;
  }
  &.bonus {
    position: relative;
    .example {
      margin-top: 1em;
      font-size: 0.8rem;
    }
    .disclaimer {
      font-size: 0.9rem;
    }
    .cta {
      margin: 3rem 0 1rem 0;
    }
    .single-bonus {
      margin-bottom: 3rem;
      &:last-of-type {
        margin-bottom: 0;
      }
      .bonus-icon {
        text-align: center;
        margin-bottom: 1rem;
        img {
          max-width: 130px;
        }
      }
    }
  }
  &.gift {
    background: $orangeBg;
    .single-gift {
      margin-bottom: 2rem;
    }
    .cta {
      white-space: nowrap;
      font-size: 0.9rem;
      margin-top: 0.5em;
    }
    .gift-icon {
      max-width: 100px;
    }
  }
  &.fnb {
  
    position: relative;
    .single-fnb {
      margin-bottom: 2rem;
    }

    .fnb-icon {
      max-width: 90px;
      margin-bottom: 1rem;
    }
  }
  &.services {
    color: #000000;
    .service-header {
      font-family: "FSLola-Extra-Bold", sans-serif;
    }
    // @media (max-width: $mobile-max) {
    //   margin-top: 4em;
    // }
    // @media (max-width:$xs-max) {
    //   .margin-top-mobile {
    //     margin-top: 3em;
    //   }
    // }

    // h2 {
    //   font-size:2em;
    // }

    // h3 {
    //   font-size:1.1em;
    //   font-weight:300;
    //   // @media (max-width: $xs-max) {
    //   //   font-size:1.5em;
    //   //   margin-bottom:0.5em;
    //   // }
    //   // @media (min-width: $xxl) {
    //   //   font-size:1.3em;
    //   // }
    // }

    a.red {
      color: $red;
    }

    .service-info {
      font-size: 0.9em;
    }

    .service-feature {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background: #cbcbcb;
      }
      .number {
        position: absolute;
        right: 0;
        top: 20%;
        color: $red;
        font-size: 0.7em;
      }
      .service-1,
      .service-2,
      .service-3,
      .service-4,
      .service-5 {
        position: relative;
        height: 60px;
        width: 100%;
        display: inline-block;
        background: url(../img/bonus-1.svg) left center no-repeat;
        background-size: contain;
        transform-origin: 12% 50%;
        transition: transform 0.5s ease;
      }

      &:hover {
        .service-1,
        .service-2,
        .service-3,
        .service-4,
        .service-5 {
          transform: scale(1.2);
        }
      }

      .service-1 {
      }
      .service-2 {
        background-image: url(../img/bonus-2.svg);
      }
      .service-3 {
        top: -8px;
        background-image: url(../img/bonus-3.svg);
      }
      .service-4 {
        top: 2px;
        background-image: url(../img/bonus-4.svg);
      }
      .service-5 {
        top: 5px;
        background-image: url(../img/bonus-5.svg);
      }
    }
  }
}

.polygon-wrapper {
  position: relative;
  z-index: 1;
  max-width: 9.7rem;
  h2 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 1.9em;
  }
  &.open-account {
    width:100%;
    position: absolute;
    top: 0;
    left: 40%;
    max-width: 8.5rem;
    h2 {
      top: 0.2em;
      left: 1.6em;
    }
    .polygon {
      width:100%;
      transform: translate(-2.3em, -0.6em);
    }
  }
  &.free {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    max-width: 15rem;
    width: 15rem;
    .polygon {
      transform: none;
    }
    h2 {
      white-space: nowrap;
      font-size: 1.7rem;
      top: 50%;
      left: 50%;
      transform: translate(-65%, -50%) rotate(-5deg);
    }
  }
}
.polygon {
  width: 100%;
  transform: translate(-30px, 0);
  * {
    fill: #4eb3e5;
  }
  &.red {
    * {
      fill: #e32213;
    }
  }
}
.logo {
  pointer-events: all;
  max-width: 150px;
  width: 40%;
}
.coat {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  &-logo {
    max-width: 58px;
    margin-right: 1em;
  }
  &-heading {
    font-size: 1rem;
    color: #ffffff;
    font-family: "FSLola-Bold", sans-serif;
    line-height: 1;
  }
}

.ice-bg {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  max-width: 1200px;
  transform: translate(-35%,0%);
}

.offer-icon {
  max-width: 80px;
  margin: 1rem 0;
}
.additional-info {
  margin: 1rem 0 2rem 0;
  font-size: 1rem;
}
.price {
  pointer-events: none;
  position: relative;
  z-index: 1;
  font-family: "FSLola-Extra-Bold", sans-serif;
  // font-size: 6rem;
  margin: -4.5rem 0;

  font-size: 15rem;

  span {
    font-size: 0.5em;
  }
}

footer {
  background: #ffffff;

  color: #484848;
  a {
    color: #484848;
    &:hover,
    &:visited,
    &:focus {
      color: #484848;
    }
    img {
      max-width: 44px;
    }
  }

  .disclaimer-legal {
    color: #a9a9a9;
    font-size: 11px;
  }

  .chevron {
    transform: rotateZ(180deg);
    transition: transform 0.5s ease;
    &.rotated {
      transform: rotateZ(0deg);
    }
  }

  ul {
    margin-bottom: 1em;

    li {
      margin-left: 1em;
      position: relative;
      margin-bottom: 0;
      font-size: 13px;

      &:before {
        content: "";
        background: #494949;
        width: 5px;
        height: 5px;
        position: absolute;
        left: -1em;
        top: 0.55em;
      }
    }
  }
}
#show-documents {
  display: flex;
  align-items: center;
}

.kv-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  max-width: $maxWidth;
}
.slide-up-scrollmagic {
  &.inactive {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(50px);
  }
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down-scrollmagic {
  &.inactive {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(-50px);
  }
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.scale-up-scrollmagic {
  &.inactive-city {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: scale(0);
  }
  &.active-city {
    opacity: 1;
    transform: scale(1);
  }
}

.bottom-poly {
  pointer-events: none;
  width: 102%;
  position: absolute;
  left: 0;
  bottom: 1px;
  transform: translate(0, 100%);
  &.gray {
    * {
      fill: $lightGray;
    }
  }
  &.orange {
    * {
      fill: $orangeBg;
    }
  }
}

.bg-poly {
  width: 100px;
  min-width: 100px;
  position: absolute;
  top: 0;

  * {
    fill: $gray;
  }
  &.right {
    right: 0;
    max-height: 200px;
  }
  &.left {
    left: 0;
    // max-height: 250px;
  }
  &.address {
    * {
      fill: #ffffff;
    }
    max-height: 100px;
    &.bottom {
      top: auto;
      bottom: 0;
      left: 60%;
    }
    &.left {
      top: 30%;
      max-height: 150px;
    }
  }
  &.offer-more {
    width: 200px;
    min-width: 200px;
    * {
      fill: #ffffff;
    }

    &.left {
      top: 10%;
      max-height: 350px;
    }
    &.right {
      top: 0%;
      right: 0;
      left: auto;
      max-height: 350px;
    }
    &.bottom {
      top: auto;
      bottom: 0;
      right: 0;
      left: auto;

      max-height: 350px;
    }
  }
  &.offer {
    width: 150px;
    min-width: 150px;

    &.top {
      top: 0;
      left: 0;
    }

    &.middle {
      top: 40%;
      right: 0;
      left: auto;
      max-height: none;
    }
    &.right {
      top: 0%;
      right: 0;
      left: auto;
      max-height: none;
    }
    &.bottom {
      top: auto;
      bottom: 0;
      left: 0;
    }
  }
}

[data-city="przemysl"],[data-city="belchatow"], [data-city="suwalki"] {
  .coat {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &-logo {
      max-width: 85px;
      margin-right: 0;
    }
  }
}
[data-city="suwalki"] {
  .coat {
   
    &-logo {
      max-width: 150px;
      margin-bottom: 0.4em;
     
    }
  }
}
[data-city="belchatow"] {
  .coat {
   
    &-logo {
      max-width: 70px;
      margin-bottom: 0.4em;
     
    }
  }
}

@media (min-width: 576px) {
  .logo {
    width: 20%;
    // max-width: 100px;
  }
  .price {
    font-size: 6rem;
    margin: 0;

    span {
      font-size: 0.5em;
    }
  }

  section {
    &.kv {
      .kv-image {
        background: url("../img/kv.jpg") no-repeat 35% bottom;
        background-size: cover;
        &:before {
          content: "";
          display: block;
          padding-bottom: 530px;
        }
      }
    }

    &.map {
      .more-cities {
        font-size: 1.4rem;
      }

      .map-cities {
        .map-city {
          font-size: 1rem;
          &.active {
            pointer-events: none;
            font-size: 1.2rem;
          }
        }
      }
    }

    &.gift {
      .gift-icon {
        margin-bottom: 1rem;
      }
    }
  }

  .ice-bg {
   
    bottom: auto;
    top:0%;
    left: 50%;
    width: 250%;
    max-width: none;
    transform: translate(-55%,0%);
  }
}

@media (min-width: 768px) {
  .ice-bg {
 
    width: 200%;

  }
  .polygon-wrapper {
    &.open-account {
      left: auto;
      right: 60px;
      top: 30px;
      h2 {
        left: 1.3em;
      }
    }

    &.free {
      bottom: 20%;
      left: auto;
      right: 30px;
      transform: translate(0%, 0%);
    }
  }
  section {
    &.kv {
      .kv-image {
        background: url("../img/kv.jpg") no-repeat 35% bottom;
        background-size: cover;
    
      }
    }
    &.map {
      padding: 50px 30px;
    }
  }
}
@media (min-width: 991px) {
  .logo {
    max-width: 150px;
    width:15%;
  }
  section {
    &.kv {
      .claim-wrapper {
        top: 70%;
      }
      .kv-image {
        background: url("../img/kv-lg.jpg") no-repeat 20% center;
        background-size: cover;
        &:before {
          content: "";
          display: block;
          padding-bottom: 600px;
        }
      }
    }
  }
  #hamburger {
    top: 0;
    margin-top: -15px;
  }

  .ice-bg {
    left: 50%;
    width: 150%;
    max-width: none;
    transform: translate(-50%,-5%);
  }
}
@media (min-width: 1200px) {
  h1{
    font-size: 3rem;
  }
  body,
  html {
    font-size: 15pt;
  }
  .cta {
    font-size: 1rem;
  }
  section {
    &.kv {
      .claim-wrapper {
        top: 75%;
      }
    }
    &.offer {
      .single-offer {
        margin-bottom: 4rem;
      }
    }
    &.benefits {
      .single-benefit {
        margin-bottom: 4rem;
      }
    }

    &.bonus {
      .disclaimer {
        font-size: 0.7rem;
      }
    }
    &.gift,
    &.services {
      padding-top: 8%;
    }
    &.address {
      padding: 100px 30px;
    }
  }

  .kv-wrapper {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .ice-bg {
    left: 60%;
    transform: translate(-70%, -5%);
  }
  // .polygon-wrapper {
  //   &.open-account {
  //     h2 {
  //       left: 30px;
  //     }
  //   }
  // }
}
@media (min-width: 1300px) {
  .logo {
    max-width: 150px;
    width:15%;
  }
  .polygon-wrapper {
    h2 {
      width: 100%;
      left: 3.6em;
    }
    &.free {
      right: 0px;
      h2 {
        width: auto;
      }
      &.open-account {
        h2 {
          width: auto;
        }
      }
    }
  }
  h1,
  .coat {
    padding: 0;
  }
  section {
    &.kv {
      .polygon {
        transform: translate(0);
      }
      // .claim-wrapper {
      //   top: 68%;
      //   left: 0%;
      //   transform: translate(0, -80%);
      // }
      // .kv-image {
      //   background: url("../img/kv.jpg") no-repeat 35% bottom;
      //   background-size: cover;
      //   &:before {
      //     content: "";
      //     display: block;
      //     padding-bottom: 500px;
      //   }
      // }
    }
  }
  .ice-bg {
    max-width: 2000px;
    left: 60%;
    transform: translate(-70%, -5%);
  }
}
