<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="shortcut icon" href="./assets/img/favicon8a67.ico?2de64b1b29caaf6d5b93a858c5b7a947" type="image/x-icon" />
  <link rel="icon" href="./assets/img/favicon8a67.ico?2de64b1b29caaf6d5b93a858c5b7a947" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/apple-touch-icon-114x114bd93.png?b1039868503f94399de85ccfabd7ea2b" />
  <link rel="apple-touch-icon-precomposed" href="./assets/img/apple-touch-icon-precomposedf750.png?e590964c323638a702893682a34dd32b" />

  <!-- build:css -->
  <link rel="stylesheet" href="./assets/css/bootstrap-reboot.min.css" />
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./assets/css/jquery-ui.min.css" />
  <link rel="stylesheet" href="./assets/css/main.css" />
  <!-- endbuild -->
  <title>Mbank</title>
</head>

<body>
  <header>
    <div id="menu">

      <img class="bg-poly offer-more bottom d-none d-md-block" src="./assets/img/poly-1.svg" alt="">
      <img class="bg-poly offer-more right  d-none d-md-block" src="./assets/img/poly-2.svg" alt="">
      <img class="bg-poly offer-more left  d-none d-md-block" src="./assets/img/poly-3.svg" alt="">

      <ul class="bolder">
        <li><a class="text-blue" href="#kv" data-scrolltoonclick>
            Spędź czas na lodowisku
          </a></li>
        <li><a class="text-blue" href="#map" data-scrolltoonclick>
            Znajdź nas
          </a></li>
        <li><a class="text-blue" href="#offer" data-scrolltoonclick>
            Atrakcje lodowiska
          </a></li>
        <li><a class="text-blue" href="#offer-more" data-scrolltoonclick>
            Zyskaj więcej
          </a></li>
        <li><a class="text-blue" href="#benefits" data-scrolltoonclick>
            Otwórz konto
          </a></li>
        <li><a class="text-blue" href="#bonus" data-scrolltoonclick>
            Premia
          </a></li>
        <li><a class="text-blue" href="#gift" data-scrolltoonclick>
            Otwórz eKonto i wybierz prezent
          </a></li>
        <li><a class="text-blue" href="#fnb" data-scrolltoonclick>
            Konto dla młodych
          </a></li>
        <li><a class="text-blue" href="#address" data-scrolltoonclick>
            Nasze placówki
          </a></li>


      </ul>
    </div>

    <div class="container-fluid px-0">
      <div class="row no no-gutters max-width">
        <div class="col-6">
          <a class="logo" href="#">
            <img src="./assets/img/logo.svg" alt="">
          </a>

        </div>
        <div class="col-6">
          <a href="#" id="hamburger">
            <span class="burger-line burger-line-1"></span>
            <span class="burger-line burger-line-2"></span>
            <span class="burger-line burger-line-3"></span>
          </a>
        </div>
      </div>
    </div>
  </header>
  <main data-city={{currentCity.slug}}>
    <div class="container-fluid px-0">
      <section class="kv" id="kv">
        <div class="row no no-gutters">
          <div class="col-12">
            <div class="kv-image">
              <div class="kv-wrapper">
                <a href="#" target="_blank" class="polygon-wrapper open-account">

                  <img class="polygon" src="./assets/img/poly-4.svg" alt="">

                  <h2>Otwórz<br />
                    konto </h2>
                </a>

                <div class="claim-wrapper">
                  <div class="polygon-wrapper">

                    <img class="polygon" src="./assets/img/poly-5.svg" alt="">

                    <h2>W rytmie<br />dobrej zabawy</h2>
                  </div>

                  <h1>Spędź czas<br />na lodowisku<br />mBanku</h1>

                  <a href="{{currentCity.coatOfArms.address}}" class="coat">

                    <img class="coat-logo" src="{{currentCity.coatOfArms.logo}}" alt="">
                    <div class="coat-heading">{{{currentCity.coatOfArms.text}}}</div>
                  </a>
                </div>
                <div class="polygon-wrapper free">

                  <div class="polygon-content">

                    <img class="polygon red" src="./assets/img/poly-6.svg" alt="">



                    <h2>Wstęp wolny</h2>
                  </div>

                </div>
              </div>




            </div>
          </div>
        </div>

      </section>
      <section class="map" id="map">
        <img class="ice-bg" src="./assets/img/ice-bg.svg" alt="">
        <div class="row no no-gutters justify-content-center max-width">
          <div class="col-12 text-center">
            <h3 class="text-black">Znajdziesz nas<br />
              <span>{{{currentCity.iceRinkAddressLocative}}}</span>
            </h3>
            <div class="additional-info text-blue bolder">Zapraszamy codziennie<br /> w&nbsp;godzinach 10-20.</div>
            <div class="more-cities bolder text-black">Jesteśmy też<br />
              w innych miastach!</div>
            <div class="map-wrapper">
              <div class="map-cities">
                {{#each allCities  as | city |}}

                <a data-scrollmagic="scale-up" href="{{city.pageAddress}}" target="_blank" data-map-city="{{city.slug}}" class="map-city bolder text-black scale-up-scrollmagic inactive-city">{{city.name
          }}</a>



                {{/each}}
              </div>


              <img src="./assets/img/map.svg" alt="">

            </div>
          </div>
        </div>
      </section>
      <section class="offer" id="offer">



        <img class="bg-poly offer top d-none d-xl-block" src="./assets/img/poly-7.svg" alt="">
        <img class="bg-poly offer bottom d-none d-xl-block" src="./assets/img/poly-8.svg" alt="">
        <img class="bg-poly offer right d-none d-xl-block" src="./assets/img/poly-9.svg" alt="">
        <img class="bg-poly offer middle d-none d-xl-block" src="./assets/img/poly-10.svg" alt="">
        <div class="row  no-gutters max-width">
          <div class="col-12 text-center">
            <h3 class="text-black">Sprawdź,<br /><span class="text-blue">co dla Ciebie,<br />
                przygotowaliśmy</span>
            </h3>
          </div>
          <div class="col-12 text-center">
            <div class="row">
              <div class="col-6 col-sm-4 text-left slide-up-scrollmagic inactive single-offer" data-scrollmagic="slide-up">
                <img class="offer-icon" src="./assets/img/icon-note.svg" alt="">
                <div class="bolder text-black">Zabawa w&nbsp;rytmie<br />
                  największych hitów</div>
              </div>
              <div class="col-6 col-sm-4 text-left slide-up-scrollmagic inactive single-offer" data-scrollmagic="slide-up">
                <img class="offer-icon" src="./assets/img/icon-hat.svg" alt="">
                <div class="bolder text-black">Nauka jazdy<br />
                  na łyżwach</div>
              </div>
              <div class="col-6 col-sm-4 text-left slide-up-scrollmagic inactive single-offer" data-scrollmagic="slide-up">
                <img class="offer-icon" src="./assets/img/icon-bear.svg" alt="">
                <div class="bolder text-black">Miśki<br />
                  do nauki jazdy</div>
              </div>
              <div class="col-6 col-sm-4 text-left slide-up-scrollmagic inactive single-offer" data-scrollmagic="slide-up">
                <img class="offer-icon" src="./assets/img/icon-cup.svg" alt="">
                <div class="bolder text-black">Pyszna kawa<br />
                  za&nbsp;6&nbsp;zł</div>
              </div>
              <div class="col-6 col-sm-4 text-left slide-up-scrollmagic inactive single-offer" data-scrollmagic="slide-up">
                <img class="offer-icon" src="./assets/img/icon-skates.svg" alt="">
                <div class="bolder text-black">Wypożyczenie<br />
                  łyżew za&nbsp;6&nbsp;zł</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="offer-more" id="offer-more">


        <img class="bg-poly offer-more bottom  d-none d-xl-block" src="./assets/img/poly-11.svg" alt="">
        <img class="bg-poly offer-more right  d-none d-xl-block" src="./assets/img/poly-12.svg" alt="">
        <img class="bg-poly offer-more left  d-none d-xl-block" src="./assets/img/poly-13.svg" alt="">







        <div class="row no-gutters justify-content-center max-width">
          <div class="col-12 text-center">
            <h3 class="text-black">Dodatkowo<br />Klienci mBanku<br /><span class="text-red">zyskują więcej:</span>
            </h3>
          </div>
          <div class="col-10 offset-1 col-sm-12 offset-sm-0 text-center">
            <div class="row align-items-center justify-content-center">

              <div class="col-12 col-sm-5 col-md-3 text-left slide-up-scrollmagic inactive" data-scrollmagic="slide-up">
                <div class="row align-items-center no-gutters">
                  <div class="col-5 text-right">
                    <img class="offer-icon pr-2 d-sm-none" src="./assets/img/icon-cup.svg" alt="">
                    <img class="offer-icon pr-2 d-none d-sm-inline-block" src="./assets/img/icon-cup-2.svg" alt="">
                  </div>
                  <div class="col-7">
                    <div class="bolder text-black">Pyszna kawa<br />
                      za&nbsp;1&nbsp;zł</div>
                  </div>
                </div>


              </div>
              <div class="col-12 col-sm-5 col-md-3 text-left slide-up-scrollmagic inactive" data-scrollmagic="slide-up">
                <div class="row align-items-center no-gutters">
                  <div class="col-5 text-right">
                    <img class="offer-icon pr-2" src="./assets/img/icon-skates.svg" alt="">
                  </div>
                  <div class="col-7">
                    <div class="bolder text-black">Wypożyczenie<br />
                      łyżew za 1 zł</div>
                  </div>
                </div>



              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <div class="bolder text-black cta-text">Jeśli nie jesteś klientem,<br />
              nic straconego.<br />
              Otwórz konto i skorzystaj</div>
          </div>

        </div>
      </section>
      <section class="benefits" id="benefits">
        <img class="bottom-poly d-none d-xl-block orange" src="./assets/img/poly-14.svg" alt="">
        <div class="row no-gutters justify-content-center max-width">
          <div class="col-12 text-center">
            <h3 class="text-black">Otwórz konto<br />
              z bankomatami za&nbsp;<span class="text-white">0&nbsp;zł</span><br />
              i odbierz aż&nbsp;<span class="text-white">140&nbsp;zł</span><br />
              premii
            </h3>
          </div>
          <div class="col-12 col-sm-10 text-center">
            <div class="row justify-content-center">
              <div class="col-6 single-benefit">
                <div class="price bolder d-none d-sm-block slide-up-scrollmagic inactive" data-scrollmagic="slide-up">0<span>zł</span></div>

                <div class="bolder text-black">Otwarcie<br />
                  i&nbsp;prowadzenie<br />
                  rachunku
                </div>
              </div>
              <div class="col-6 single-benefit">

                <div class="price bolder d-none d-sm-block slide-up-scrollmagic inactive" data-scrollmagic="slide-up">0<span>zł</span></div>

                <div class="bolder text-black">Wypłaty<br />
                  od&nbsp;100&nbsp;zł ze&nbsp;wszystkich<br />
                  bankomatów
                </div>
              </div>
              <div class="col-12 d-sm-none slide-up-scrollmagic inactive" data-scrollmagic="slide-up">
                <div class="price bolder">0<span>zł</span></div>
              </div>
              <div class="col-6 single-benefit">
                <div class="price bolder d-none d-sm-block slide-up-scrollmagic inactive" data-scrollmagic="slide-up">0<span>zł</span></div>

                <div class="bolder text-black">3 wypłaty<br />
                  z&nbsp;bankomatów<br />
                  za&nbsp;granicą
                </div>
              </div>
              <div class="col-6 single-benefit">
                <div class="price bolder d-none d-sm-block slide-up-scrollmagic inactive" data-scrollmagic="slide-up">0<span>zł</span></div>

                <div class="bolder text-black">Karta już przy<br />
                  1&nbsp;transakcji<br />
                  w&nbsp;miesiącu
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <section class="services" id="services">
        <div class="row no-gutters justify-content-center max-width">
          <div class="col-12 text-center">
            <h3 class="text-black">Dodatkowo<br />do konta mamy<br /><span class="text-red">dla Ciebie</span></h3>

          </div>
          <div class="col-12 text-left">
            <div class="row">
              <div class="col-12 col-sm-4 col-md">
                <div class="service-feature">
                  <span class="service-1"></span>
                  <span class="number">01</span>
                </div>
                <div class="service-header mt-3 mb-2">Usługę <br class="d-none d-md-block">wielowalutową</div>
                <div class="service-info">
                  <p>Płatność w wybranej walucie bez kosztów przewalutowania.</p>
                  <p>Wszystko to na Twojej karcie debetowej.</p>
                </div>
              </div>
              <div class="col-12 col-sm-4 col-md">
                <div class="service-feature margin-top-mobile">
                  <span class="service-2"></span>
                  <span class="number">02</span>
                </div>
                <div class="service-header mt-3 mb-2">Placówki <br class="d-none d-md-block">mBanku</div>
                <div class="service-info">
                  <p>Placówki w centrach handlowych otwarte do późna i&nbsp;w&nbsp;soboty.</p>
                  <p><a href="#" class="red">znajdź najbliższą placówkę</a></p>
                </div>
              </div>
              <div class="col-12 col-sm-4 col-md">
                <div class="service-feature margin-top-mobile">
                  <span class="service-3"></span>
                  <span class="number">03</span>
                </div>
                <div class="service-header mt-3 mb-2">Spersonalizowaną <br class="d-none d-md-block">kartę</div>
                <div class="service-info">
                  <p>Sam zdecyduj, jak będzie wyglądała Twoja karta.</p>
                </div>
              </div>
              <div class="col-12 col-sm-4 offset-sm-2 col-md offset-md-0">
                <div class="service-feature margin-top-mobile">
                  <span class="service-4"></span>
                  <span class="number">04</span>
                </div>
                <div class="service-header mt-3 mb-2">Wygodną <br class="d-none d-md-block">aplikację mobilną</div>
                <div class="service-info">
                  <p>Płać wygodnie telefonem.</p>
                  <p>Możliwość samodzielnego tymczasowego blokowania i&nbsp;odblokowania karty jednym kliknięciem.</p>
                </div>
              </div>
              <div class="col-12 col-sm-4 col-md">
                <div class="service-feature margin-top-mobile">
                  <span class="service-5"></span>
                  <span class="number">05</span>
                </div>
                <div class="service-header mt-3 mb-2">Program <br class="d-none d-md-block">polecam mBank</div>
                <div class="service-info">
                  <p>Zapraszaj znajomych do mBanku i odbierz 150&nbsp;zł za&nbsp;polecenie konta.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <section class="bonus" id="bonus">
        <div class="row no-gutters justify-content-center max-width">
          <div class="col-12 text-center">
            <h3 class="text-black">Premia
            </h3>
          </div>
          <div class="col-12 col-lg-11 text-center text-sm-left">
            <div class="row justify-content-between">
              <div class="col-12 col-sm-5 col-lg-4 text-left text-black single-bonus">
                <div class="bonus-icon">
                  <img src="./assets/img/price-100.svg" alt="">
                </div>
                <div>Otwórz eKonto osobiste i w ciągu 7 dni<br />
                  od otwarcia zasil je jednorazową kwotą<br />
                  min. 1&nbsp;000 zł<br /><br />
                  Wykonaj min. 5 transakcji kartą<br />
                  na dowolną kwotę (nie możesz ich<br />
                  anulować do 15. dnia kolejnego miesiąca)</div>

              </div>
              <div class="col-12 col-sm-5 col-lg-4 text-left text-black single-bonus">
                <div class="bonus-icon">
                  <img src="./assets/img/price-40.svg" alt="">
                </div>
                <div>W kolejnym miesiącu zasil swoje konto<br />
                  kwotą min. 1&nbsp;000 zł<br /><br />
                  Wykonaj min. 5 transakcji kartą<br />
                  na dowolną kwotę (nie możesz ich<br />
                  anulować do 15. dnia kolejnego miesiąca)</div>

              </div>


            </div>
          </div>
          <div class="col-12 col-lg-11">
            <div class="text-black example text-left"><span class="bolder text-black">Przykład:</span> Otwórz konto 12.11.2019 r. Zasil je kwotą 1 000 zł do 19.11.2019 r. Do końca grudnia 2019 r. wykonaj minimum 5 transakcji kartą. Odbierz od
              nas 100 zł.<br class="d-none d-xl-block" /> W styczniu 2020 r. zasil konto kwotą 1 000 zł i wykonaj minimum 5 transakcji.<br class="d-none d-xl-block" /> Odbierz kwotę 40 zł. Razem zyskaj nawet
              140 zł.</div>
          </div>
          <div class="col-12 text-center">

            <a class="cta slide-up-scrollmagic inactive" data-scrollmagic="slide-up" href="#" target="_blank">
              otwórz konto
            </a>
            <div class="bolder text-black disclaimer">Do promocji możesz przystąpić od&nbsp;31.10.2019&nbsp;r.
              do&nbsp;30.01.2020&nbsp;r. Promocja trwa od&nbsp;31.10.2019&nbsp;r.
              do&nbsp;31.05.2020&nbsp;r.<br class="d-none d-xl-block" /> Zapoznaj się z&nbsp;regulaminem.
              Spełnij wszystkie warunki promocji i odbierz premię.</div>


          </div>


        </div>
        <img class="bottom-poly d-none d-xl-block gray" src="./assets/img/poly-15.svg" alt="">


      </section>
      <section class="gift" id="gift">
        <div class="row no-gutters justify-content-center max-width">
          <div class="col-12 text-center">
            <h3 class="text-white">Otwórz eKonto<br />
              i wybierz prezent
            </h3>
          </div>
          <div class="col-12 text-center">
            <div class="row align-items-center">

              <div class="col-12 col-sm-4 text-left single-gift">
                <div class="row align-items-center">
                  <div class="col-5 col-sm-12">
                    <img class="gift-icon" src="./assets/img/icon-card.svg" alt="">
                  </div>
                  <div class="col-7 col-sm-12">
                    <div class="bolder text-black">Karta<br />
                      podarunkowa</div>
                    <a class="cta" href="#" target="_blank">otwórz konto</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4 text-left single-gift">
                <div class="row align-items-center">
                  <div class="col-5 col-sm-12">
                    <img class="gift-icon" src="./assets/img/icon-speaker.svg" alt="">
                  </div>
                  <div class="col-7 col-sm-12">
                    <div class="bolder text-black">Głośnik<br />
                      bezprzewodowy</div>
                    <a class="cta" href="#" target="_blank">otwórz konto</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4 text-left single-gift">
                <div class="row align-items-center">
                  <div class="col-5 col-sm-12">
                    <img class="gift-icon" src="./assets/img/icon-suitcase.svg" alt="">
                  </div>
                  <div class="col-7 col-sm-12">
                    <div class="bolder text-black">Walizka<br />
                      kabinowa</div>
                    <a class="cta" href="#" target="_blank">otwórz konto</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="fnb" id="fnb">
        <img class="bg-poly right d-none d-xl-block" src="./assets/img/poly-16.svg" alt="">
        <img class="bg-poly left d-none d-xl-block" src="./assets/img/poly-17.svg" alt="">
        <div class="row no-gutters justify-content-center max-width">
          <div class="col-12 text-center">
            <h4 class="text-black">Nie masz 18 lat?<br />
              Nie martw się,
              nadal możesz korzystać<br class="d-none d-sm-block" /> z&nbsp;lodowiska ze&nbsp;zniżkami.


               
            </h4>
            <h3 class="text-black">Wystarczy, że&nbsp;<span class="text-red">założysz konto<br class="d-none d-sm-block" /> dla młodych</span>, a&nbsp;z&nbsp;nim:
            </h3>
          </div>
          <div class="col-12 text-center">
            <div class="row align-items-center">

              <div class="col-12 col-sm-4 text-center single-fnb">
                <div class="row">
                  <div class="col-12">
                    <img class="fnb-icon" src="./assets/img/icon-phonepay.svg" alt="">
                  </div>
                  <div class="col-12">
                    <div class="bolder text-black">płacisz<br />telefonem</div>
                  </div>

                </div>

              </div>
              <div class="col-12 col-sm-4 text-center single-fnb">
                <div class="row">
                  <div class="col-12">
                    <img class="fnb-icon" src="./assets/img/icon-owncard.svg" alt="">
                  </div>
                  <div class="col-12">
                    <div class="bolder text-black">
                      możesz mieć kartę<br />z&nbsp;własnym zdjęciem

                    </div>
                  </div>
                </div>




              </div>
              <div class="col-12 col-sm-4 text-center single-fnb">
                <div class="row">
                  <div class="col-12">
                    <img class="fnb-icon" src="./assets/img/icon-phonepay.svg" alt="">
                  </div>
                  <div class="col-12">
                    <div class="bolder text-black">nikogo nie prosisz<br />o&nbsp;przelewy
                    </div>
                  </div>
                </div>




              </div>

            </div>
          </div>
          <div class="col-12 text-center">
            <p class="service-info mb-0 mt-4 text-black">Dowiedz się więcej</p>
            <a class="cta mt-2" target="_blank" href="https://www.mbank.pl/indywidualny/m/ekonto-dla-mlodych/">otwórz konto</a>
          </div>


        </div>
      </section>
      <section class="address" id="address">
        <img class="bg-poly address left d-none d-xl-block" src="./assets/img/poly-18.svg" alt="">
        <img class="bg-poly address bottom d-none d-xl-block" src="./assets/img/poly-19.svg" alt="">
        <div class="row no-gutters justify-content-center max-width">
          <div class="col-12 text-center">
            <h3 class="text-black">Możesz otworzyć&nbsp;też<br />
              konto <span class="text-red">
                {{#if currentCity.outletAddress.outlet}}
                w&nbsp;naszej placówce

                {{#if currentCity.outletAddress.kiosk}}
                lub kiosku
                {{/if}}

                {{else}}
                w&nbsp;naszym kiosku
                {{/if}}
              </span>
            </h3>
            {{#each currentCity.outletAddress.points}}
            <div class="additional-info text-black bolder mb-0"><span>{{this.city}}</span>, <span class="text-red">{{this.street}}</span></div>
            {{/each}}
          </div>
        </div>
      </section>



    </div>

  </main>
  <footer>
    <div class="container-fluid px-0">
      <div class="row no-gutters max-width">
        <div class="col-12">
          <a href="#" target="_blank">Polityka prywatności</a>
          <br />
          <a href="#" id="show-documents"><span>Dokumenty</span>
            <img class="chevron" src="./assets/img/chevron-up.svg" width="44" height="25" alt="" /></a>
          <div id="document-links" style="display:none">
            <ul>
              <li><a href="https://www.mbank.pl/pdf/promocje/konta/regulamin-promocji-ekonto-z-premia-vii-edycja-31-05-2020.pdf">Regulamin promocji „ekonto z premią edycja VII”. Okres, w którym można przystąpić do Promocji 31.10.2019 r. – 30.01.2020 r. Okres, w którym Promocja obowiązuje: 31.10.2019
                  r. – 31.05.2020 r.</a></li>
              <li><a href="https://www.mbank.pl/pomoc/dokumenty/oferta-indywidualna/konta/uslugi-platnicze/regulamin/">Regulamin usług płatniczych dla osób fizycznych w ramach bankowości detalicznej mBanku S.A.</a></li>
              <li><a href="https://www.mbank.pl/pdf/oprocentowanie/2016/tabela-osobyfiz.pdf">Tabele stóp procentowych dla osób fizycznych w ramach bankowości detalicznej mBanku S.A.</a></li>
              <li><a href="https://www.mbank.pl/pomoc/dokumenty/oferta-indywidualna/karty/karty-debetowe/regulamin/">Regulamin kart debetowych dla osób fizycznych w ramach bankowości detalicznej mBanku S.A.</a></li>
              <li><a href="https://www.mbank.pl/pomoc/dokumenty/oferta-indywidualna/konta/konta/regulamin/">Regulamin otwierania i prowadzenia bankowych rachunków dla osób fizycznych w ramach bankowości detalicznej mBanku S.A.</a></li>
              <li><a href="https://www.mbank.pl/pomoc/oplaty/interaktywna/ind/">Taryfa prowizji i opłat dla osób fizycznych</a></li>
              <li><a href="https://www.mbank.pl/pdf/przydatne-dokumenty/rachunki-indywidualne/wzor-umowy-o-prowadzenie-bankowych-rachunkow-oszczednosciowo-rozliczeniowych.pdf">Wzór umowy o prowadzenie bankowych rachunków dla osób fizycznych</a></li>
            </ul>
          </div>
          <p class="text-left disclaimer-legal">
            To nie jest oferta. eKonto osobiste to: 0 zł za otwarcie i prowadzenie konta, 0 zł za kartę przy 1 transakcji w miesiącu na dowolną kwotę (lub 7 zł przy braku transakcji), 0 zł za wypłaty kartą od 100 zł z bankomatów w Polsce (prowizja za wypłaty poniżej 100 zł wynosi 2,50 zł), 0 zł za
            przelewy internetowe w złotówkach, 0 zł za pierwsze trzy wypłaty z bankomatów za granicą (opłata za czwartą i kolejną wypłatę wynosi 10 zł).<br />

            Promocja „eKonto z premią – VII edycja” trwa od 31.10.2019 r. do 31.05.2020 r. Do Promocji można przystąpić w terminie od 31.10.2019 r. do 30.01.2020 r., spełniając poniższe warunki:
            1) złożysz promocyjny wniosek o otwarcie rachunku oszczędnościowo-rozliczeniowego eKonto osobiste, zwanego dalej eKontem promocyjnym, wraz z wnioskiem o wydanie karty debetowej, zwanej dalej kartą promocyjną,
            2) zaakceptujesz oświadczenie, którego treść znajduje się w części „X. Oświadczenia”,
            3) zawrzesz z Bankiem umowę o prowadzenie bankowych rachunków dla osób fizycznych, zwaną dalej Umową – musi to być umowa indywidualna (nie możesz otworzyć konta razem z drugą osobą).<br />

            W ramach promocji możesz skorzystać z promocyjnego oprocentowania 2,5% na Moich celach, gdy otworzysz rachunek do regularnego oszczędzania Moje cele.
            W Promocji mogą wziąć udział nowi Klienci, czyli osoby, które od 01.01.2017 r. nie były lub nadal nie są Posiadaczem lub Współposiadaczem:
            a) rachunku oszczędnościowo-rozliczeniowego i/lub
            b) rachunku oszczędnościowego o numerach 1140 2004 lub 1140 2017.<br />

            Nagrodą w Promocji jest Premia za szybki wpływ w wysokości 100 zł oraz Premia za transakcje w wysokości 40 zł, oraz promocyjne oprocentowanie w rachunku do regularnego oszczędzania Moje cele w wysokości 2,5% do kwoty 20 000 zł. Łączna wartość Premii w okresie 2 kolejnych miesięcy
            kalendarzowych wynosi maksymalnie 140 zł. Premię za szybki wpływ naliczymy po upływie pełnego miesiąca, licząc od tego, w którym przystąpiłeś do Promocji. Premię wypłacimy w kolejnym miesiącu kalendarzowym, po którym spełniłeś dwa warunki:
            - wykonasz 5 transakcji kartą promocyjną (w tym płatności telefonem) i/lub BLIK. Transakcje te nie mogą zostać anulowane do 15 dnia następnego miesiąca, po którym dokonałeś zakupu,
            - zasilisz w ciągu 7 dni od otwarcia swoje eKonto promocyjne jednorazową kwotą min. 1000 zł. Nie może być to przelew z innego rachunku mBanku, którego jesteś Posiadaczem lub Współposiadaczem.
            Premię za transakcje naliczymy po upływie drugiego miesiąca kalendarzowego, licząc od tego, w którym przystąpiłeś do Promocji. Premię wypłacimy w kolejnym miesiącu kalendarzowym, po którym spełniłeś dwa warunki:
            - wykonasz 5 transakcji kartą promocyjną (w tym płatności telefonem) i/lub BLIK. Transakcje te nie mogą zostać anulowane do 15 dnia następnego miesiąca, po którym dokonałeś zakupu,
            - zasilisz w danym miesiącu kalendarzowym swoje eKonto promocyjne jednorazową kwotą min. 1000 zł. Nie może być to przelew z innego rachunku mBanku, którego jesteś Posiadaczem lub Współposiadaczem.<br />

            Masz prawo do jednej Premii za szybki wpływ i jednej Premii za transakcję. Dodatkowo, nagrodą w Promocji jest promocyjne oprocentowanie na rachunku do regularnego oszczędzania Moje cele w wysokości 2,5% do kwoty 20 000 zł. Promocyjne oprocentowanie obowiązywać będzie od dnia otwarcia
            rachunku do regularnego oszczędzania Moje cele do dnia 31.05.2020 r. Otrzymasz je w każdym miesiącu kalendarzowym w okresie wskazanym powyżej, jeśli suma wpływów w bieżącym miesiącu jest wyższa co najmniej o 100 zł od sumy obciążeń. Warunek będziemy weryfikować ostatniego dnia roboczego
            każdego miesiąca na wszystkich rachunkach umożliwiających regularne oszczędzanie, powiązanych z tym samym rachunkiem oszczędnościowo-rozliczeniowym. Przekształcenie rachunku indywidualnego na rachunek wspólny spowoduje, że przestaniesz być Uczestnikiem Promocji. Szczegółowe warunki
            uczestnictwa w Promocji oraz warunki otrzymania nagrody opisaliśmy w Regulaminie Promocji „eKonto z premią – VII edycja” zamieszczonym na stronie: www.mBank.pl/indywidualny/konta/promocje/ekonto-z-premia-vii-edycja/<br />

            Szczegóły dotyczące usługi CyberRescue zawiera „Regulamin świadczenia usługi CyberRescue” dostępny na http://www.mBank.pl/pdf/ind/uslugi/regulamin-swiadczenia-uslugi-cyberrescue.pdf. Podmiotem świadczącym Usługę CyberRescue jest CyberRescue Sp. z o.o.. z siedzibą w Warszawie.
            W celu zawarcia Umowy konieczne są akceptacja i złożenie Wniosku za pośrednictwem systemu bankowości elektronicznej Banku lub w drodze telefonicznej za pośrednictwem Banku. W celu zawarcia i wykonania Umowy niezbędne jest podanie przez Klienta danych w zakresie określonym w Polityce
            Prywatności.
            Warunkiem zawarcia Umowy jest:
            a. akceptacja wymaganych przez Bank oświadczeń Klienta oraz wyrażenie przez Klienta zgody na ujawnienie przez Bank na rzecz Centrum Bezpieczeństwa informacji o Kliencie, w tym również informacji objętych tajemnicą bankową;
            b. zapoznanie się z niniejszym Regulaminem oraz jego akceptacja.<br />

            Program PolecamBank edycja 2/2019 trwa od 2.09.2019 r. do 1.03.2020 r.
            Polega na przyznaniu Premii za polecenie rachunku w mBanku SA. Warunkiem wypłaty Premii jest spełnienie następujących warunków:
            - Zaloguj się do serwisu transakcyjnego, zarejestruj się w Programie PolecamBank, przystąp do edycji 2/2019 jako Uczestnik Programu i stwórz swój identyfikator poleceń.
            - Zaproś Nowego Klienta do mBanku - wyślij do niego link, który zawiera Twój identyfikator poleceń.
            - Aktywnie korzystaj z rachunku osobistego - zrób jedną z następujących operacji, w miesiącu poprzedzającym wypłatę Premii: Wyślij przelew ze swojego rachunku osobistego w mBanku na rachunek w innym banku. Odbierz przelew z innego banku na swój rachunek osobisty w mBanku. Zapłać kartą
            debetową lub kredytową (nie firmową). Wypłać gotówkę dowolną kartą (nie firmową).
            100 zł za polecenie rachunku osobistego eKonto lub 200 zł za polecenie rachunku osobistego mKonto, jeśli:
            - Nowy Klient, którego zaprosiłeś do Programu, i któremu poleciłeś rachunek eKonto lub/i mKonto (w ofercie standardowej lub w promocji), a który w dniu składania wniosku o ww. rachunek skończył 18 lat, we wniosku wpisze Twój identyfikator polecenia. Podpisze umowę o prowadzenie rachunku
            i zamówi kartę do rachunku. Będzie aktywnie korzystał z rachunku, tzn. w okresie 60 dni od dnia jego otwarcia wykona 5 transakcji kartą debetową wydaną do rachunku płatności w placówkach handlowych lub usługowych (nie dotyczy wypłat z bankomatu) honorujących płatności kartą (dla rachunku
            wspólnego - każdy z posiadaczy musi wykonać 5 transakcji).
            50 zł Premii otrzymasz jeśli:
            - Nowy Klient, którego zaprosiłeś do Programu, i któremu poleciłeś rachunek eKonto (w ofercie standardowej lub w promocji), w dniu składania wniosku nie ukończył 18 lat i wpisze w nim Twój identyfikator polecenia. Podpisze umowę o prowadzenie rachunku i zamówi kartę do rachunku. Będzie
            aktywnie korzystał z rachunku, tzn. w okresie 60 dni od dnia jego otwarcia wykona 5 transakcji kartą debetową wydaną do rachunku płatności w placówkach handlowych lub usługowych (nie dotyczy wypłat z bankomatu) honorujących płatności kartą (dla rachunku wspólnego - każdy z posiadaczy
            musi wykonać 5 transakcji).
            200 zł Premii otrzymasz jeśli:
            - Nowy Klient, którego zaprosiłeś do Programu, i któremu poleciłeś rachunek mBiznes konto (w ofercie standardowej lub w promocji lub w procesie otwierania firmy z mBankiem), we wniosku wpisze Twój identyfikator polecenia. Podpisze umowę o prowadzenie rachunku i zamówi kartę do rachunku.
            Będzie aktywnie korzystał z rachunku, tzn. w okresie 60 dni od dnia jego otwarcia zapłaci za zakupy kartą wydaną do rachunku firmowego łącznie minimum 200 zł.
            300 zł Premii otrzymasz jeśli:
            - Nowy Klient, którego zaprosiłeś do Programu, i któremu poleciłeś rachunek mBiznes konto (w ofercie standardowej lub w promocji lub w procesie otwierania firmy z mBankiem), we wniosku wpisze Twój identyfikator polecenia. Podpisze umowę o prowadzenie rachunku i zamówi kartę do rachunku.
            Będzie aktywnie korzystał z rachunku, tzn. w okresie 60 dni od dnia jego otwarcia zapłaci za zakupy kartą wydaną do rachunku firmowego łącznie minimum 200 zł oraz w okresie 60 dni od dnia otwarcia rachunku aktywuje usługę mKsięgowość.
            Szczegółowe warunki uczestnictwa w Programie oraz warunki otrzymania Premii opisaliśmy w Regulaminie Programu PolecamBank – edycja 2/2019, który zamieściliśmy na stronie: www.mbank.pl/indywidualny/promocje/ programy/polecambank.
            Szczegółowe informacje oraz warunki korzystania z usługi wielowalutowej dostępne są w „Regulaminie kart debetowych dla osób fizycznych i klientów Private Banking w ramach bankowości detalicznej mBanku S.A.” dostępnym na stronie
            www.mbank.pl/indywidualny/uslugi/uslugi/usluga-wielowalutowa/.
            W przypadku transakcji bezgotówkowych i wypłat gotówki za granicą w walucie innej niż waluta, w której jest prowadzony rachunek:
            1. kartą debetową Mastercard
            – mBank pobiera dodatkowo prowizję za przewalutowanie transakcji w wysokości 3% od wartości transakcji. W przypadku transakcji dokonanych kartami Mastercard, na których została włączona Usługa wielowalutowa, wysokość prowizji za przewalutowanie wynosi 0,5% od wartości transakcji.
            2. kartą debetową Visa
            – mBank pobiera dodatkowo prowizję za przewalutowanie transakcji w wysokości 5,9% od wartości transakcji. W przypadku transakcji dokonanych kartami Visa, na których została włączona Usługa wielowalutowa, wysokość prowizji za przewalutowanie wynosi 3,5% od wartości transakcji. W przypadku
            transakcji bezgotówkowych i wypłat gotówki dokonanych w walucie innej niż waluta, w której prowadzony jest rachunek, mBank pobiera dodatkowo prowizję za przewalutowanie transakcji w wysokości 3% wartości transakcji.<br />

            Wyjaśnienia pojęć dotyczących usług reprezentatywnych powiązanych z rachunkiem płatniczym objętych tym materiałem znajdziesz na www.mBank.pl/slowniczek.<br />

            Propozycja wazna w dniach 09.12.2019–29.02.2020 r. w placówkach mBanku w ... (tutaj prosze o wstawienie adresów zależności od miasta)
            Wyjasnienia pojec dotyczacych usług reprezentatywnych powiazanych z rachunkiem płatniczym, objetych tym materiałem, znajdziesz na www.mBank.pl/slowniczek
            To nie jest oferta. Mozesz wziac udział w akcji, jesli w momencie wnioskowania o otwarcie konta w mBanku S.A. masz ukonczone 18 lat i nie posiadasz jeszcze zadnego konta w mBanku lub jesli w przeszłosci posiadałes konto w mBanku, ale od czasu
            jego zamkniecia upłyneło minimum 12 pełnych miesiecy. Akcja nie łaczy sie z programem PolecamBank. Szczegółowe informacje, w tym warunki i opłaty zwiazane z prowadzeniem rachunków oszczednosciowo-rozliczeniowych, sa okreslone w Taryfie
            prowizji i opłat bankowych dla osób fi zycznych w ramach bankowosci detalicznej mBanku S.A. oraz Regulaminie otwierania i prowadzenia bankowych rachunków dla osób fi zycznych w ramach bankowosci detalicznej mBanku S.A. (mBank), dostepnych na
            www.mBank.pl/pomoc/oplaty/oferta-indywidualna/aktualna-taryfa/, www.mBank.pl/pomoc/oprocentowanie/oferta-indywidualna/ i www.mBank.pl/pomoc/info/regulaminy/konta. Opłata za połaczenie z mLinia zgodna z taryfa operatora.

          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- build:js -->
  <script src="./assets/scripts/jquery.min.js"></script>
  <script src="./assets/scripts/bootstrap.bundle.min.js"></script>
  <script src="./assets/scripts/scrollmagic.min.js"></script>
  <script src="./assets/scripts/tweenmax.min.js"></script>
  <script src="./assets/scripts/animation.gsap.min.js"></script>
  <script src="./assets/scripts/main.js"></script>
  <!-- endbuild -->
</body>

</html>